SetEnvIf Request_URI ".*" Ngx_Cache_NoCacheMode=off
SetEnvIf Request_URI ".*" Ngx_Cache_AllCacheMode

Options -Indexes

<Files ~ "^\.">
    Require all denied
</Files>

<Files ~ "config\.php$">
    Require all denied
</Files>
